# Final Quiz

## Question 1
Consider the given NumPy arrays **a** and **b**. What will be the value of **c** after the following code is executed?

In [31]:
import numpy as np

a = np.arange(8)
print(a)
b = a[4:6]
b[:] = 40
print(b)
c = a[4] + a[6]
print(c)

[0 1 2 3 4 5 6 7]
[40 40]
46

## Question 2
Given the string **s** as shown below, which of the following expressions will be **True**?

In [8]:
import re
s = 'ABCAC'
print(len(re.split('A', s)) == 2)
print(bool(re.match('A', s)) == True)
print(re.match('A', s) == True)
print(re.match('A', s) == True)

False
True
False
False

### Question 3
Consider a string s. We want to find all characters (other than A) which are followed by triple A, i.e., have AAA to the right. We donâ€™t want to include the triple A in the output and just want the character immediately preceding AAA . Complete the code given below that would output the required result.

In [21]:
def result():
    s = 'ACAABAACAAABACDBADDDFSDDDFFSSSASDAFAAACBAAAFASD'

    result = []
    # compete the pattern below
    pattern = '(\w)(?=[A]{3})'
    for item in re.finditer(pattern, s):
      # identify the group number below.
      result.append(item.group())
      
    return result

result()

['C', 'F', 'B']

## Question 4

Consider the following 4 expressions regarding the above pandas Series `df`. All of them have the same value except one expression. Can you identify which one it is?

In [32]:
import pandas as pd
list = {"d":4, "b":7, 'a':-5, "c":3}
df = pd.Series(list)
print(df.iloc[0])
print(df.index[0])
print(df[0])
print(df['d'])

4
d
4
4

## Question 5

Consider the two pandas Series objects shown above, representing the no. of items of different yogurt flavors that were sold in a day from two different stores, s1 and s2. Which of the following statements is True regarding the Series s3 defined below?

In [36]:
S1 = pd.Series({'Mango':20, 'Strawberry': 15, 'Blueberry': 18, 'Vanilla': 31})
S2 = pd.Series({'Strawberry': 25,'Vanilla': 30, 'Banana': 15, 'Mango':20, 'Plain': 20})

S3 = S1.add(S2)

print(S3['Blueberry'] == S1.add(S2, fill_value = 0)['Blueberry'])
print(S3['Mango'] >=  S1.add(S2, fill_value = 0)['Mango'])
print(S3['Blueberry'] == S1['Blueberry'])
print(S3['Plain'] >= S3['Mango'])
S3

False
True
False
False

Banana         NaN
Blueberry      NaN
Mango         40.0
Plain          NaN
Strawberry    40.0
Vanilla       61.0
dtype: float64

## Question 6
In the following list of statements regarding a DataFrame df, one or more statements are correct. Can you identify all the correct statements?

* Every time we call df.set_index(), the old index will be discarded.   `Correct`

* Every time we call df.set_index(), the old index will be set as a new column.

* Every time we call df.reset_index(), the old index will be discarded.

* Every time we call df.reset_index(), the old index will be set as a new column.  `Correct`

## Question 7
Consider the Series object S defined below. Which of the following is an **incorrect** way to slice S such that we obtain all data points corresponding to the indices 'b', 'c', and 'd'?

In [39]:
S = pd.Series(np.arange(5), index=['a', 'b', 'c', 'd', 'e'])

print(S['b':'e'])
print(S[['b', 'c', 'd']])
print(S[S <= 3][S > 0])
print(S[1:4])

b    1
c    2
d    3
e    4
dtype: int32
b    1
c    2
d    3
dtype: int32
b    1
c    2
d    3
dtype: int32
b    1
c    2
d    3
dtype: int32

## Question 8

Consider the DataFrame df shown above with indexes 'R1', 'R2', 'R3', and 'R4'.  In the following code, a new DataFrame df_new is created using df. What will be the value of `df_new[1]` after the below code is executed?

In [46]:
list = {'a': [5, 5, 71, 67], 'b': [6, 82, 31, 37],'c': [20, 28, 92, 49]}
df = pd.DataFrame(data=list).set_index(pd.Index(['R1', 'R2', 'R3', 'R4']))

f = lambda x: x.max() + x.min()
df_new = df.apply(f)
df_new[1]

88